html,body,#container, #viewHolder{
	height: 100%;
  overflow:hidden;
}

.standardButton {
  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  border: none;
}
.standardButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
  background-color:#ccc2a6;
}
.standardButton:active {
  position:relative;
  top:1px;
}

/******************************* HOME.HTML ************************************************/
#title{
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 100px;
  margin-top: 0px;
  color: white;
  margin-top: 15px;
}

#header{
  height: 20%;
}

#home{
  text-align: center;
  height: 100%;
}

.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  width: 110%;
  margin-top: 35px;
  margin-bottom: 20px;
}


#homeContainer{
  width: 100%;
  height: 76%;
  border: 5px solid black;
  margin: 0px auto;
  text-align: center;
  position: relative;
}

#containerButtons{
  height: 100%;
  width: 100%;
}

#singleplayerButton, #multiplayerButton{
  width: 30vw;
  height: 30vw;
  position: relative;
  border: 2px solid rgba(0,60,0,0.6);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
}

.buttonText{
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

#singleplayerButton{
	margin-left: 7px;
  background-image: url("../../Images/single.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: rgba(0,60,0,0.6);
}

#containerButtons a:hover{
  background-color: rgb(0,90,0);
}

#multiplayerButton{
	margin-right: 7px;
  background-image: url("../../Images/many.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: rgba(0,60,0,0.6);
}

@media only screen and (max-height: 480px) {
  #header{
    height: 40%;
  }
  #homeContainer{
    height: 60%;
  }
}

@media only screen and (max-width: 550px) {
  
  #divDraggable{
    padding: 0px !important;
  }
}


@media only screen and (max-width: 900px) and (max-height: 800px){

  #title{
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    font-size: 75px;
    margin-top: 0px;
    color: white;
    margin-top: 5px;
  }

  #numPlayers{
    margin-top: 3%;
    font-size: 15px;
    color: white;
  }

  #NumText{
    margin-top: 0%;
    font-size: 90px;
    color:white;
  }

}


@media only screen and (max-width: 550px) and (max-height: 480px){

  #title{
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    font-size: 55px;
    margin-top: 0px;
    color: white;
    margin-top: 5px;
  }
  #numPlayers{
    margin-top: 1%;
    font-size: 10px;
    color: white;
  }
  #NumText{
    margin-top: 0%;
    font-size: 50px;
    color:white;
  }

}

#fbButton{
 margin-top: 10px;
}

#multiplayerContainer{
  width: 100%;
  height: 90%;
  border: 5px solid red;
  margin: 0px auto;
  text-align: center;
  position:relative;
}

#arrowDiv{
  width: 100%;
  height: 75%;
  margin: 0px auto;
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  position: relative;
}

#numOfPlayers{
  height: 100%;
  background-color: rgba(0,60,0,0.6);
  border-radius: 25px;
  border: 2px solid rgba(0,60,0,0.6);
  text-align: center;
}

#increaseDiv{
  height: 100%;
  border: 5px solid green;
  margin: 0px auto;
}

#decreaseDiv{
  height: 100%;
  border: 5px solid green;
  margin: 0px auto;
}

#increaseArr{
  height: 100%;
  background-image: url("../../images/right.png");
  width: 50%;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  float: left;
}

#numPlayers{
  margin-top: 5%;
  font-size: 25px;
  color: white;
}

#NumText{
  margin-top: 0%;
  font-size: 130px;
  color:white;
}

#decreaseArr{
  height: 100%;
  background-image: url("../../images/left.png");
  width: 50%;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  float: right;

}

#decreaseArr:hover, #increaseArr:hover{
  -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    cursor: pointer; 
}

#buttonDivNG{
  width: 100%;
  height: 10%;
  border: 5px solid red;
  margin: 0px auto;
  margin-bottom: 0px;
  position:absolute;

}


#backBtnDiv{
  width: 100%;
  height: 10%;
  border: 5px solid red;
  margin: 0px auto;
}

#backBut{

}

#playerFormen{
  margin: 0;
  border-style: solid;
  border: 2px black solid;
  border-radius: 25px;
  text-align: center;
  display: inline-block;
  width: 90%;
}
#playerForm{
  margin-top: 20px !important;
}

#newGame{
  text-align: center;
  height: 100%;
  padding: 0px;
}

#startGame{
  margin: 0 auto;
  text-align:center;
}

#startGameBtn{
  margin-top: 50px;
  margin-bottom: 20px;
}

#newGameScroll{
  width: 100%;
  height: 200%;
  border: 2px solid rgba(0,60,0,0.6);
  background-color: rgba(0,60,0,0.6);
  border-radius: 25px;
  display: block !important;
  margin-top: 3%;
/*  opacity: 0.7;
  z-index: 1;*/

}

#nameInForm{
  padding: 10px;
  margin: 0px auto;
}

#selectInForm{
  padding: 10px;
  margin: 0px auto;
}

#addPlRow{
  width: 100%;
  height: 20%;
  padding: 10px;
  margin: 0px auto;
}

/* RESULT PAGE */
.resultTable{
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  padding:0px;
  margin:20px;
  margin-top: 20px;
  padding-left:40px;
  display: inline;
  border-radius: 25px;
  color: white;
}

@media only screen and (min-width: 600px){
  .resultCell-1{
    background-image: url("../../Images/first.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    font-weight: bold !important;
    border-width: 10px !important;
  }

  .resultCell-2{
    background-image: url("../../Images/second.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    font-weight: bold !important;
    border-width: 10px !important;
  }

  .resultCell-3{
    background-image: url("../../Images/third.png") !important;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    font-weight: bold !important;
    border-width: 10px !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .resultTable{
    margin: 10px !important;
    color: white;
    font-size: 20px;
  }
  #result{
  height:15%;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
  background-color: rgba(0,60,0,0.6);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  }

  #resultRow{
    margin-left: 10%;
    text-align: center;
  }
  .avaPic{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .resultTable{
    font-size: 20px;
  }
  
  .resultCell-1, .resultCell-2, .resultCell-3{
    background-image: none !important;
  }
  .avaPic{
    width: 40px;
    height: 40px;
  }

  .leftCol{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

#resultRow{
    margin-left: 8%;
    text-align: center;
  }

#result{
  height:15%;
  width: 90%;
  margin: 0px auto;
  padding: 20px;
  background-color: rgba(0,60,0,0.6);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}



.button_example{
  margin-top: 5px; border:1px solid #7c5b2b; -webkit-border-radius: 16px; -moz-border-radius: 16px;border-radius: 16px;font-size:20px;font-family:helvetica, sans-serif; padding: 20px 20px 20px 20px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
  background-color: #a67939; background-image: -webkit-gradient(linear, left top, left bottom, from(#a67939), to(#845108));
  background-image: -webkit-linear-gradient(top, #a67939, #845108);
  background-image: -moz-linear-gradient(top, #a67939, #845108);
  background-image: -ms-linear-gradient(top, #a67939, #845108);
  background-image: -o-linear-gradient(top, #a67939, #845108);
  background-image: linear-gradient(to bottom, #a67939, #845108);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a67939, endColorstr=#845108);
}

.button_example:hover, #avatarBtns:hover{
   border:1px solid #5a421f;
   background-color: #805d2c; background-image: -webkit-gradient(linear, left top, left bottom, from(#805d2c), to(#543305));
   background-image: -webkit-linear-gradient(top, #805d2c, #543305);
   background-image: -moz-linear-gradient(top, #805d2c, #543305);
   background-image: -ms-linear-gradient(top, #805d2c, #543305);
   background-image: -o-linear-gradient(top, #805d2c, #543305);
   background-image: linear-gradient(to bottom, #805d2c, #543305);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#805d2c, endColorstr=#543305);
}

#selectAvatar{
  position: relative;
}


.avatarGame{
    display: none !important;
}


.avatarGame[src] {
   display: inline-block !important;
 }

#select{
  float:left;
}

#playerName{
  float: left;
  color: white;
}

#errorTextColor{
  float:left;
  color: red;
}

#jumboheader{
  height: 25%;
  padding: 10px;
  margin-bottom: 0px;background-image: url('../../images/headerjumbo.jpg');
  background-size:contain;
  background-position: center;
  border: 5px solid black;
  text-align: center;
}

#playerStatus{
  margin: 0px;
  margin-top: 20px;
}

#scoreStatus{
  margin: 0px;float: right;
  margin-top: 20px;
}

#timerDiv{
  text-align: center;
}

#timer{
  margin: 3px;
}

#coveringDiv{
  width: 100%;z-index: 2;
  background-color: rgba(0,80,0,1);
  height: 150px !important; 
  position:absolute;
  text-align: center;
}

#questionDiv{
  height: 150px;
}

#innerQuestionDiv{
  text-align: center;
  background-color: rgba(0,60,0,0.6);
}

#questionHead{
  margin: 0px;
  margin-top: 25px;
}

#question{
  margin: 0px;
}

#innerDiven{
  text-align: center;
  width: 100%;
  padding: 0px;
}

#divWidth1, #divWidth2, #divWidth3{
  width: 100%;
}

#ulContainer{
  width: 100%;
  list-style-type:none;
  padding: 0px;
}

#listItem{
  text-align: center;
  width: 100%;
  margin-left:10px;
  text-align: center;
}

#droppablePara{
  text-align: center;
}

#btnDroppable{
  height:150px;
  width: 200px;
}

#innerBtnDroppable{
  text-align: center;
  margin:0 auto;
  background-color: yellow;
}

#divDraggable{
  text-align: center;
  margin: 0px;
  margin-top: 40px;
  padding-left: 5px;
}

#btnDraggable{
  width: 100%
}

#innerBtnDraggable{
  font-size: 15px;
  border-width: 5px;
  margin:0 auto;
}

#btnDroppable{
  width: 400px;
  background-color: rgba(0,60,0,0.6);
  border-radius: 25px;
  border: 2px solid rgba(0,60,0,0.6);
  margin:0 auto;
}

#answer{
  width: 90%;
  background-color: yellow;
  background-image: none;
}

#dragText{
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

#answer{
  position: relative;
  top: 15%;
  transform: translateY(-15%);
}

#del:hover, #add:hover {
  -webkit-filter: drop-shadow(0px 0px 0px #fff);
  filter:         drop-shadow(0px 0px 0px #fff);
  cursor: pointer; 
}

.errorDiv{
  color: white;
}


.glyphicon-remove, .glyphicon-plus {
    font-size: 2.0em;
}

#avatarBtns{
  background-image: linear-gradient(to bottom, #a67939, #845108);
  border-color: #845108;
  border-radius: 5px;
  margin: 2px;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
  background-image: none !important;
  background-color: #533203;
  border-color: #000 !important;
}


/*--------------------------Style of the background image------------------------------*/
@media only screen and (max-width: 1300px) {
.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  width: 140%;
  margin-top: 35px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 1000px) {
.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  width: 170%;
  margin-top: 35px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  width: 210%;
  margin-top: 35px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  width: 250%;
  margin-top: 35px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  width: 400%;
  margin-top: 35px;
  margin-bottom: 20px;
}
}
/*----------------------------------Style Fonts-------------------------------*/



