html,body,#container, #viewHolder{
	height: 100%;
  overflow:hidden;
}

.standardButton {
  -moz-box-shadow: 0px 1px 0px 0px #1c1b18;
  -webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
  background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
  background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
  display:inline-block;
  cursor:pointer;
  color:#505739;
  font-family:Arial;
  font-size:14px;
  font-weight:bold;
  padding:12px 16px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
  border: none;
}
.standardButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
  background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
  background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
  background-color:#ccc2a6;
}
.standardButton:active {
  position:relative;
  top:1px;
}

/******************************* HOME.HTML ************************************************/
#title{
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 100px;
  margin-top: 0px;
}

#header{
  height: 20%;
}

#home{
  text-align: center;
  height: 100%;
}

.giphy-embed{
  /*content:url("//giphy.com/embed/TC8Cap201LtsI" );*/
  pointer-events: none;
  /*src="//giphy.com/embed/TC8Cap201LtsI"*/ 
  z-index: -10;
  position: absolute;
  height:120%;
  margin-top: -10px;
  margin-bottom: .20px;
}


#homeContainer{
  width: 100%;
  height: 76%;
  border: 5px solid black;
  margin: 0px auto;
  text-align: center;
  position: relative;
}

#containerButtons{
  height: 100%;
  width: 100%;
}

#singleplayerButton, #multiplayerButton{
  width: 30vw;
  height: 30vw;
  position: relative;
  border: 2px solid rgba(0,60,0,0.6);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
}

.buttonText{
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

#singleplayerButton{
	margin-left: 7px;
  background-image: url("../../Images/single.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: rgba(0,60,0,0.6);
}

#containerButtons a:hover{
  background-color: rgb(0,90,0);
}

#multiplayerButton{
	margin-right: 7px;
  background-image: url("../../Images/many.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-color: rgba(0,60,0,0.6);
}

@media only screen and (max-height: 480px) {
  #header{
    height: 40%;
  }
  #homeContainer{
    height: 60%;
  }
}

#fbButton{
 margin-top: 10px;
}

#multiplayerContainer{
  width: 100%;
  height: 90%;
  border: 5px solid red;
  margin: 0px auto;
  text-align: center;
  position:relative;
}

#arrowDiv{
  width: 100%;
  height: 75%;
  margin: 0px auto;
  
  text-align: center;
  position: relative;
}

#numOfPlayers{
  height: 100%;
  background-color: rgba(0,60,0,0.6);
  border-radius: 25px;
  border: 2px solid rgba(0,60,0,0.6);
}

#increaseDiv{
  height: 100%;
  border: 5px solid green;
  margin: 0px auto;
}

#decreaseDiv{
  height: 100%;
  border: 5px solid green;
  margin: 0px auto;
}

#increaseArr{
  height: 100%;
  background-image: url("../../images/right.png");
  width: 50%;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  float: left;
}

#NumText{
  margin-top: 15%;
  font-size: 150px;
}

#decreaseArr{
  height: 100%;
  background-image: url("../../images/left.png");
  width: 50%;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  float: right;

}

#decreaseArr:hover, #increaseArr:hover{
  -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222);
    cursor: pointer; 
}

#buttonDivNG{
  width: 100%;
  height: 10%;
  border: 5px solid red;
  margin: 0px auto;
  margin-bottom: 0px;
  position:absolute;

}


#backBtnDiv{
  width: 100%;
  height: 10%;
  border: 5px solid red;
  margin: 0px auto;
}

#backBut{

}

#playerForm{
  margin: 0px auto;
  border-style: solid;
  border-top: 2px black;
  border-left: 2px black;
  border-right: 2px black;
}

#newGame{
  text-align: center;
  height: 100%;
}

#newGameScroll{
  width: 70%;
  height: 200%;
  border: 2px solid rgba(0,60,0,0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0,60,0,0.6);
  border-radius: 25px;
/*  opacity: 0.7;
  z-index: 1;*/

}

#nameInForm{
  padding: 10px;
  margin: 0px auto;
}

#selectInForm{
  padding: 10px;
  margin: 0px auto;
}

#addPlRow{
  width: 100%;
  height: 20%;
  padding: 10px;
  margin: 0px auto;
}

/* RESULT PAGE */
.resultTable{
  font-size: 50px;
  font-weight: normal; 
}

@media only screen and (max-width: 992px) {
  .resultTable{
    font-size: 20px;
    margin: 10px !important;;
    padding: 10px !important; 
  }
  #result{
    width: 100% !important;
    text-align: center;
    margin: 0px! important;;
    padding: 10px !important;
    margin: 0px auto;
    margin-bottom: 15px;
  }

  #resultRow{
    margin-left: 10%;
  }
}

#resultRow{
    margin-left: 8%;
  }

#result{

}

.resultCell-1{
  background-image: url("../../Images/first.png") !important;
  font-weight: bold !important;
  border-width: 10px !important;
}


.button_example{
  margin-top: 5px; border:1px solid #7c5b2b; -webkit-border-radius: 16px; -moz-border-radius: 16px;border-radius: 16px;font-size:20px;font-family:helvetica, sans-serif; padding: 20px 20px 20px 20px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3); color: #FFFFFF;
  background-color: #a67939; background-image: -webkit-gradient(linear, left top, left bottom, from(#a67939), to(#845108));
  background-image: -webkit-linear-gradient(top, #a67939, #845108);
  background-image: -moz-linear-gradient(top, #a67939, #845108);
  background-image: -ms-linear-gradient(top, #a67939, #845108);
  background-image: -o-linear-gradient(top, #a67939, #845108);
  background-image: linear-gradient(to bottom, #a67939, #845108);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a67939, endColorstr=#845108);
}

.button_example:hover{
   border:1px solid #5a421f;
   background-color: #805d2c; background-image: -webkit-gradient(linear, left top, left bottom, from(#805d2c), to(#543305));
   background-image: -webkit-linear-gradient(top, #805d2c, #543305);
   background-image: -moz-linear-gradient(top, #805d2c, #543305);
   background-image: -ms-linear-gradient(top, #805d2c, #543305);
   background-image: -o-linear-gradient(top, #805d2c, #543305);
   background-image: linear-gradient(to bottom, #805d2c, #543305);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#805d2c, endColorstr=#543305);
}

#selectAvatar{
  position: relative;
}

#select{
  float:left;
}

#playerName{
  float: left;
}

#errorTextColor{
  float:left;
  color: red;
}








