<!-- We include the sidebar as it is shared across two screens. -->

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
<div id="fullRecipeMain" class="col-xs-12 col-sm-12 col-md-12" style="margin: 0px;height:100%;" controller="MenuOverviewCtrl" ng-init="init()">

	<div class="row" id="headRow">
		<div id="buttondiv" class="col-xs-12 col-sm-12 col-md-12">
			<div id="mainContent" class="col-xs-12 col-sm-8 col-md-8">
				<h1 id="headerContent">My dinner: {{numberOfGuests}} people</h1>
			</div><div class="col-xs-12 col-sm-4 col-md-4">
			<a href="#/search" id="back3" pe="button" class="button back btn btn-warning btn-responsive" role="button">Go back and edit dinner</a>
		</div>
		</div>
	</div>

	<div class='col-md-12 col-sm-12 table pre-scrollable' id='andra' style='margin: 0px;padding-bottom: 250px;'>

		<div ng-repeat="dish in menu" class='row' ng-hide="!dish.Title">
			<div id='fullRecipeOver' class='col-xs-12 col-sm-12 col-md-12'>
				<div class='col-md-3 col-sm-3'>
					<image class='col-md-3 col-sm-3 img-thumbnail' src='{{dish.ImageURL}}' style='height:180px;width: 180px;'></image>
				</div>
				<div class='col-md-3 col-sm-3'>
					<h3>{{dish.Title}}</h3>
					<br>
					<lu ng-repeat="ingredient in dish.Ingredients">
						<li>{{ingredient.Name}}</li>
					</lu>
				</div>
				<div class='col-md-6 col-sm-6'>{{dish.Instructions}}</div>
			</div>
		</div>
	</div>

</div>

