
<iframe src="" id="iframeQ"  frameBorder="0" class="giphy-embed" allowFullScreen></iframe>


<script type="text/javascript">
//Making the covering div inbetween questions the correct height
      $(document).ready(function() {
      $(window).resize(function(){
      $("#coveringDiv").css("height", $("#questionDiv").height());
    });
  });
</script>

<script type="text/javascript">
//Making the covering div inbetween questions the correct height
      $(document).ready(function() {
      $(".innerBtnDraggable").css("width", $("#divDraggable").width());
      $(".btnDraggable").css("width", $("#divDraggable").width());
      $("#btnDroppable").css("width", $("#divDraggable").width());
      $("#innerBtnDroppable").css("width", $("#btnDroppable").width());
      $("#answer").css("width", $("#btnDroppable").width());
      $(window).resize(function(){
      $(".innerBtnDraggable").css("width", $("#divDraggable").width());
      $(".btnDraggable").css("width", $("#divDraggable").width());
      
    });
  });
</script>


<div id="gameView" class="col-md-12" ng-controller="GameCtrl" ng-init="init()" style="padding: 0px;color: white;">
  <div class="jumbotron" id="jumboheader" style="">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4">
        <h3 id="playerStatus">Player's Turn:
        <br> 
        <img class="avatarGame" src="../../images/avatars/{{playerToStart[1]}}.png" id="1" height="80" width="80">  {{playerToStart[0]}}</h3>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4" id="timerDiv">
        <h1 id="timer">TIMER: <br> {{counter}}</h1><br>
        Total questions answered:
        <div class="row">
        <div class="col-sm-12"><uib-progressbar class="progress-striped active" max=amountOfQuestions value=questionNumber type="success"><i> {{questionNumber}} / {{amountOfQuestions}}</i></uib-progressbar></div>
    </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <h3 id="scoreStatus">{{playerToStart[0]}}'s Score: <br>{{playerToStart[2]}}</h3>
      </div>
    </div>
  </div>

  <div id="coveringDiv" ng-show=switchQuestion class="slide-down">
    <p ng-show="nextPlayer">
      <h2>Next player's turn is {{nextPlayer[0]}}. Are you ready?</h2>
    </p>
    <button ng-click="nextQuestion()" ng-show=switchQuestion class="button_example">Ready</button>
  </div>


<!-- 
  <div id="coveringDiv" ng-hide= class="slide-down">
    <p>
      <h2>Next player's turn is {{nextPlayer[0]}}. Are you ready?</h2>
    </p>
    <button ng-click="nextQuestion()" class="button_example">Ready</button>
  </div>

  


  
 -->
  <div class="row" id="questionDiv">
    <div class="col-md-12" id="innerQuestionDiv">
      <h5 id="questionHead">Question: </h5>
      <h2 id="question" class="slide-right" ng-show="questionFromModel" ng-hide="!questionFromModel">{{questionFromModel}}<h2>
    </div>
  </div>
  
  <div id="innerDiven" class="col-md-12">
    <div class='contentWrapper ng-cloak' id="divWidth1">
      <div class='content' id="divWidth2">
        <div class="row-fluid" id="divWidth3">
          <ul class="thumbnails" id="ulContainer">
            <li id="listItem" class="span3" ng-repeat="image in images">
              <p id="droppablePara">
                <div class="btn btn-default btn-droppable slide-down" id="btnDroppable" data-drop="true" ng-model='draggedAnswer' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                  <h4 id="dragText" ng-show="!draggedAnswer[$index].title">Drag your answer here</h4>
                  <br>
                  <div class="btn btn-info btn-draggable btn-inline bouncy-scale-in slide-down button_example" id="answer" id="innerBtnDroppable" ng-show="draggedAnswer[$index].title" data-drag="{{draggedAnswer[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="draggedAnswer" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{draggedAnswer[$index].title}} - {{draggedAnswer[$index].answer}}</div>
                </div>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-6 col-sm-6 col-lg-3" id="divDraggable" ng-repeat="item in options">
        <div class="btn btn-droppable bouncy-scale-in answer btnDraggable" id="btnDraggable" data-drop="true" ng-model='options' jqyoui-droppable="{index: {{$index}}}">
          <div name="answer{{item.title}}" id="innerBtnDraggable" class="btn btn-info btn-draggable button_example innerBtnDraggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="options" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}" ng-hide="!item.title || timeOut">{{item.title}} - {{item.answer}}</div>
        </div>
      </div>
    </div>
  </div>
</div>