
<div id="gameView" class="col-md-12" ng-controller="GameCtrl" ng-init="init()">

	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-md-9">{{counter}}</div>
			<div class="col-xs-3 col-sm-3 col-md-3">{{playerToStart}}</div>
		</div>
	</div>

	<h3>The Game is Live</h3>
	<p id="question">{{questionFromModel}}<p>

      <div class="row">
        <div class="col-sm-4"><uib-progressbar class="progress-striped active" max=amountOfQuestions value=questionNumber type="success"><i> {{questionNumber}} / {{amountOfQuestions}}</i></uib-progressbar></div>
    </div>


	<form id="formAnswers" action="">
		<ol>
			<li id="answerOption1"><input type="radio" name="answer" ng-model="answer" value="A"> {{answerA}}<br></li>
			<li id="answerOption2"><input type="radio" name="answer" ng-model="answer" value="B"> {{answerB}}<br></li>
			<li id="answerOption3"><input type="radio" name="answer" ng-model="answer" value="C"> {{answerC}}<br></li>
			<li id="answerOption4"><input type="radio" name="answer" ng-model="answer" value="D"> {{answerD}}</li>
		</ol>
	</form>
	<p>You answered {{answer}}</p>
	<button ng-click="answered(answer)">Answer</button>
	<h3>Your final answer: {{finalAnswer}}</h3>
	<!--<input class="form-control" id="guestsInput" type="number" name="Guests" min="1" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)">
	<a href="#/overview" id="confirmDinner" pe="button" class="btn btn-warning btn-responsive" role="button">Confirm Dinner</a>-->

	<!--<span data-drag="true" jqyoui-draggable>So you think you can drag</span>-->
 <!--<div class="row-fluid">
        <div class="span6">
          <div class="btn btn-primary bouncy-scale-in answer" ng-show=show id="A" data-drag="true" ng-model="answer" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid'}" ng-hide="!answerA" value="A">{{answerA}}</div>
        </div>
        <div class="span6">
          <div class="btn btn-primary bouncy-scale-in answer" ng-show=show id="B" data-drag="true" ng-model="answer" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid'}" ng-hide="!answerB" value="B">{{answerB}}</div>
        </div>
        <div class="span6">
          <div class="btn btn-primary bouncy-scale-in answer" ng-show=show id="C" data-drag="true" ng-model="answer" jqyoui-draggable="{animate: true}" data-jqyoui-options="{revert: 'invalid'}" ng-hide="!answerC" value="C">{{answerC}}</div>
        </div>
        <div class="span6">
          <div class="btn btn-primary bouncy-scale-in answer" ng-show=show id="D" data-drag="true" ng-model="answer" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{animate: true}" ng-hide="!answerD" value="D">{{answerD}}</div>
        </div>
        <div class="span6">
          <div class="thumbnail" data-drop="true" ng-model="options" jqyoui-droppable="{onDrop: 'onDrop(item, $index)'}" ng-bind="options.title ? 'dropped' : 'drop'"></div>

        </div>
        <div class="thumbnail" data-drop="true" data-jqyoui-options ng-model="options" jqyoui-droppable="" style='height:50px;'>
  <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="options" jqyoui-draggable ng-hide="!options.title">{{options}}</div>
</div>
      </div>-->
TEST13


	<div class="col-md-12" style="text-align: center;width: 100%;">
      <div class='contentWrapper ng-cloak' style="width: 100%;">
        <div class='content' style="width: 100%;">
          <div class="row-fluid" style="width: 100%;">
            <ul class="thumbnails" style="width: 100%;list-style-type:none;padding: 0px;">
              <li style="border: 5px solid red;text-align: center;width: 100%;" class="span3" style='margin-left:10px;text-align: center;' ng-repeat="image in images">


                    <p style="text-align: center;"><h1>Final answer</h1><div class="btn btn-default btn-droppable slide-down" style="height:200px;width: 200px;" data-drop="true" ng-model='draggedAnswer' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback',onOver: 'overCallback', onOut: 'outCallback'}">
                    <h4>Drag your answer here</h4>
                    <br>
                      <div class="btn btn-info btn-draggable btn-inline bouncy-scale-in slide-down" id="answer" style="text-align: center;margin:0 auto;background-color: yellow;" ng-show="draggedAnswer[$index].title" data-drag="{{draggedAnswer[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="draggedAnswer" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{draggedAnswer[$index].title}} - {{draggedAnswer[$index].answer}}</div>
                    </div></p>

              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="text-align: center;width: 100%;">
        <div class="container form-inline" style="text-align: left;">
          <div class="btn btn-droppable bouncy-scale-in answer" style="width: 20%;margin-left: 4%;" ng-repeat="item in options" data-drop="true" ng-model='options' jqyoui-droppable="{index: {{$index}}}">
            <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="options" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true, onStart:'startCallback(item, $index)', onStop: 'stopCallback', onDrag: 'dragCallback'}" ng-hide="!item.title">{{item.title}} - {{item.answer}}</div>
          </div>
        </div>
      </div>
    </div>
</div>