
<!-- TODO in Lab 5: Display the items on the menu with cost for each -->

<!-- Displaying number of
 guests both in input box and here is redundant. It is here only for the example
purpose so you can see how some information from the model can be retrieved. In Lab 5 you will replace 
this with Total price of the menu -->


<div id="gameView" ng-controller="GameCtrl" ng-init="init()">
	<h3>The Game is Live</h3>
	<p id="question">{{question}}<p>

	<form id="formAnswers" action="">
		<ol>
			<li id="answerOption1"><input type="radio" name="answer" ng-model="answer" value="toBeSet1"> Answer option 1<br></li>
			<li id="answerOption2"><input type="radio" name="answer" ng-model="answer" value="toBeSet2"> Answer option 2<br></li>
			<li id="answerOption3"><input type="radio" name="answer" ng-model="answer" value="toBeSet3"> Answer option 3</li>
		</ol>
	</form>
	<p>You answered {{answer}}</p>
	<button ng-click="answered(answer)">Answer</button>
	<h3>Your final answer: {{finalAnswer}}</h3>
	<!--<input class="form-control" id="guestsInput" type="number" name="Guests" min="1" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)">
	<a href="#/overview" id="confirmDinner" pe="button" class="btn btn-warning btn-responsive" role="button">Confirm Dinner</a>-->
</div>