<script type="text/javascript">
      $(document).ready(function() {
      $("#scrollDiv").css("height", $("#homeContainer").height()-$("#heightDiv").height() - 20);
      $(window).resize(function(){
      $("#scrollDiv").css("height", $("#homeContainer").height()-$("#heightDiv").height() - 20);
    });
  });

      
    </script>

<div id="home" data-ng-init="activateAPI()">

  <div class="jumbotron" id="jumboheader" style="">
    <div class="row">
      <h1 id="title">WeGeoQuiz</h1>
    </div>
  </div>


  <!-- Shown if page is loading and not have got the API-connection-->

<div id="loadDiv" ng-show="!singleplayerMode && !multiplayerMode && !APIrespo" style="background-color:white; width:100%; height:100%; background-image: url('../../images/loading.gif'); background-position: top; background-repeat: no-repeat;">

</div>


  <div id="homeContainer">
    <!-- Shown if neither multiplayer nor singleplayer mode is selected-->
    <div id="containerButtons" ng-show="!singleplayerMode && !multiplayerMode && APIrespo"> 
      <a id="multiplayerButton" pe="button" class="btn btn-warning btn-responsive" ng-click="multiplayer()" class="btn btn-info" role="button"><p class="buttonText">Multiplayer</p>
      </a>

      <a id="singleplayerButton" pe="button" class="btn btn-warning btn-responsive" ng-click="singleplayer()" class="btn btn-info" role="button"><p class="buttonText">Singleplayer</p>
      </a>
    </div>
    
    <!-- Shown if multiplayermode is selected-->
    <div ng-show="multiplayerMode" id="multiplayerContainer">

      <div class="row" id="arrowDiv">
        <div class="col-xs-4 col-sm-4 col-lg-4 offset-3" id="decreaseDiv">
          <div id="decreaseArr" class="shadow" ng-click="deleteAddRow($event)">
          </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-lg-4 offset-3" id="numOfPlayers">

        <div id="numPlayers" class="row">
          Number of players
        </div>

        <div class="row">
          <p id="NumText">{{num}}</p>
        </div>

        </div>

        <div class="col-xs-4 col-sm-4 col-lg-4" id="increaseDiv">
          <div id="increaseArr" ng-click="deleteAddRow($event)">
          </div>
          <!-- class="glyphicon glyphicon-arrow-right" -->
        </div>
      </div>

      <div class="row" id="buttonDivNG">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <a ng-show="multiplayerMode" pe="button" class="btn btn-warning btn-responsive button_example" ng-click="back()" class="btn btn-info button_example" style="float:right;margin: 0px; margin-top:" role="button">Back
          </a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <a href="#/newGame" id="multiplayerDoneButton" pe="button" class="btn btn-warning btn-responsive button_example" class="btn btn-info button_example" style="margin: 0px;float:left;" role="button">Next
          </a>
        </div>
      </div>
    </div>

  

    <!-- Show if singleplayermode is selected-->
  <div id="fbButtonStyle">
    <div id="fbButton">
      <div id="heightDiv" style="margin-bottom: 15px;" class="row">

      <div class="col-md-6 col-sm-6 col-xs-6">
        <a ng-show="singleplayerMode" pe="button" style="width: 90%;padding: 25px;" class="btn btn-warning btn-responsive button_example" ng-click="back();removeCookies();" class="btn btn-info button_example" role="button">Back
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <fb:login-button ng-show="!user" class="button_example" style="width: 90%;" show-faces="false" max-rows="1" 
        size="xlarge" data-auto-logout-link="false"></fb:login-button><div id="fb-root"></div>
      
      

      <!-- Shown if singpleyer is selected and you are logged in -->
        <a href="#/game" ng-show="singleplayerMode && loggedIn" pe="button" class="btn btn-warning btn-responsive standardButton button_example" class="btn btn-info standardButton
        button_example" role="button" ng-click="addSinglePlayer()" style="margin-top: 10px;width: 90%;padding: 25px;">Start Game</a>
     </div>
     </div>
      <div id="scrollDiv" ng-show="singleplayerMode && loggedIn" class="panel-group" style="overflow-y:scroll;height: 360px;">
      <div class="panel panel-default" style="background-color: rgba(0,60,0,0.6);">
        <div class="panel-heading" style="background-color: rgba(0,60,0,0.6);">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-target="#collapse1" class="btn button_example" style="width: 100%;">Toplist</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse"  style="background-color: rgba(0,60,0,0.6);color: white">
          <div class="panel-body"><ng-include src="'partials/topplist.html'" ng-controller="ToplistCtrl"  style="background-color: rgba(0,60,0,0.6);color: white">
        </ng-include></div></div>
        <div class="panel-footer" style="background-color: rgba(0,60,0,0.6);color: white"></div>
      </div>
    </div>
    </div>
  </div>
    <div ng-show="singleplayerMode" id="status">
    </div>


    

    


  </div>
</div>

