

<div id="home" ng-controller="HomeCtrl">

	<div id="headerStart" class = "row">
		<h2 id="headerWell">Antal spelare</h2>
	</div>
<!-- 
	<div id="numOfPlayers" class = "row">
		<span class="glyphicon glyphicon-circle-arrow-left" ng-click="removeNumOfPlayers()"></span>
		<span class="glyphicon glyphicon-circle-arrow-right" ng-click="addNumOfPlayers()"></span>
	</div> -->

	<div id="numOfPlayersDiv" class = "row">
		<input class="form-control" id="numOfPlayers" type="number" name="Players" min="1" ng-model="numOfPlayers" ng-change="setNumOfPlayers(numOfPlayers)">
		Total number of guest: {{getNumOfPlayers()}}
	</div>

	<div id="divButtonInWell" class = "row" style="with:100%; text-align:center;">
		<a href="#/newGame" id="buttonInWell" pe="button" class="btn btn-warning btn-responsive" class="btn btn-info" role="button">Klar
		</a>
	</div>
</div>
