<div id="dishPreview" class="col-xs-12 col-sm-12 col-md-12 pre-scrollable" style="background-color: White;" ng-controller="NewGameCtrl">
 {{ getNumOfPlayers() }}
 {{ nickName }}
	<div ng-repeat="i in getNumOfPlayers() track by $index">
		<div class="row">
			<form name="PlayerForm" ng-submit="submit(nickName, avatar)" role="form">
			      <label for="usr">Namn:</label>
			      <!-- ng-model="feedback.text" -->
			      <input type="text" name="nickName" ng-model="nickName" class="form-control" placeholder="Your_Username" ng-pattern="feedback.word" required ng-trim="false" id="usr">

			    <div role="alert"><br>
				    <span class="error" ng-show="PlayerForm.input.$error.required">
				      Required!</span>
				    <span class="error" ng-show="PlayerForm.input.$error.pattern">
				      Single word only!</span>
  				</div>

  				<select class="col-xs6 col-sm-6 col-md-6" name="avatar" ng-model="avatar">
					<option value="smile" style="background-image:url(images/loading.gif);"></option>
					<option value="saab">Saab</option>
					<option value="honda">Honda</option>
					<option value="audi">Audi</option>
				</select>

  				<tt>text = {{feedback.text}}</tt><br/>
				<tt>PlayerForm.input.$valid = {{PlayerForm.input.$valid}}</tt><br/>
				<tt>PlayerForm.input.$error = {{PlayerForm.input.$error}}</tt><br/>
				<tt>PlayerForm.$valid = {{PlayerForm.$valid}}</tt><br/>
				<tt>PlayerForm.$error.required = {{!!PlayerForm.$error.required}}</tt><br/>

				<input type="submit" value="submit"/>

			</form>
		</div>
	</div>

	<div id="startGame" class = "row" style="with:100%; text-align:center;">
		<a href="#/game" id="buttonInWell" pe="button" class="btn btn-warning btn-responsive" class="btn btn-info" role="button" ng-click="setNumOfPlayers(numOfPlayers)">Börja spela
		</a>
	</div>


<!-- 	<div ng-init="state = 1">
		{{ state }}
		<div ng-show="state == 1">
			State 1
			<button ng-click="state = 2">Next</button>
		</div>
		<div ng-show="state == 2">
			State 2
			<button ng-click="state = 3">Next</button>

		</div>
		<div ng-show="state == 3">State 3
			<button ng-click="state = 1">Next</button>
		</div>

	</div> -->