<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1042588039140495',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      console.log("inloggad");
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      console.log("INTE inloggad");

    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      console.log("Inte inloggad");

    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1042588039140495',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.6' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>



<div id="dishPreview" class="col-xs-12 col-sm-12 col-md-12 pre-scrollable" style="background-color: White;" ng-controller="NewGameCtrl">
 {{ getNumOfPlayers() }}
	<div ng-repeat="i in getNumOfPlayers() track by $index">
		<div class="row">
			<form name="PlayerForm" ng-submit="submit(nickName, avatar)" role="form">
			      <label for="usr">Namn:</label>
			      <!-- ng-model="feedback.text" -->
			      <input type="text" name="nickName" ng-model="nickName" class="form-control" placeholder="Your_Nickname" ng-pattern="feedback.word" required ng-trim="false" id="usr">

			    <div role="alert"><br>
				    <span class="error" ng-show="PlayerForm.input.$error.required">
				      Required!</span>
				    <span class="error" ng-show="PlayerForm.input.$error.pattern">
				      Single word only!</span>
  				</div>

  				<select class="col-xs6 col-sm-6 col-md-6" name="avatar" ng-model="avatar">
					<option value="smile" style="background-image:url(images/loading.gif);"></option>
					<option value="saab">Saab</option>
					<option value="honda">Honda</option>
					<option value="audi">Audi</option>
				</select>

  				<tt>text = {{feedback.text}}</tt><br/>
				<tt>PlayerForm.input.$valid = {{PlayerForm.input.$valid}}</tt><br/>
				<tt>PlayerForm.input.$error = {{PlayerForm.input.$error}}</tt><br/>
				<tt>PlayerForm.$valid = {{PlayerForm.$valid}}</tt><br/>
				<tt>PlayerForm.$error.required = {{!!PlayerForm.$error.required}}</tt><br/>

				<input type="submit" value="submit"/>

			</form>
		</div>
	</div>

	<div id="startGame" class = "row" style="with:100%; text-align:center;">
		<a href="#/game" id="buttonInWell" pe="button" class="btn btn-warning btn-responsive" class="btn btn-info" role="button" ng-click="setNumOfPlayers(numOfPlayers)">Börja spela
		</a>
	</div>
	tja2


<!-- 	<div ng-init="state = 1">
		{{ state }}
		<div ng-show="state == 1">
			State 1
			<button ng-click="state = 2">Next</button>
		</div>
		<div ng-show="state == 2">
			State 2
			<button ng-click="state = 3">Next</button>

		</div>
		<div ng-show="state == 3">State 3
			<button ng-click="state = 1">Next</button>
		</div>

	</div> -->